*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.grid {
  display: grid;
  margin: auto;
  width: 90%;
  grid-gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: start;
}
@media (max-width: 60em) {
  .grid {
    grid-gap: 3rem;
  }
}
.grid__item {
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.705);
  cursor: pointer;
  width: 500px;
  transition: 0.2s;
}
.grid__item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.2);
}
.grid__item:hover .card__header{
  transform: translateY(-4.5%);
  text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.705);
}
.grid__item:hover .card__text{
  transform: translateY(-4.5%);
  text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.705);
}
.grid__item:hover .card__btn{
  transform: translateY(-4.5%);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.355);
}


.card__img {
  display: block;
  width: 100%;
  height: 18rem;
  object-fit: cover;
}
.card__content {
  padding: 3rem 3rem;
}
.card__header {
  transition: 0.2s;
  font-size: 3rem;
  font-weight: 500;
  color: #0d0d0d;
  margin-bottom: 1.5rem;
}
.card__text {
  transition: 0.2s;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: #3d3d3d;
  margin-bottom: 2.5rem;
}
a{
  text-decoration: none;
}
.card__btn {
  display: block;
  width: auto;
  padding: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #3363ff;
  background-color: #e6ecff;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
}
.card__btn span {
  margin-left: 1rem;
  transition: 0.2s;
}
.grid__item:hover .card__btn:hover, .card__btn:active {
  transform: translateY(-2.5%);
  box-shadow: 0 1rem 2rem rgb(77, 46, 255);
  color:rgb(38, 0, 255);
  background-color: #f9f9fc;
}

.card__btn:hover span, .card__btn:active span {
  margin-left: 1.5rem;
}